@use "functions" as *;

$variant: "dark";

$background: compare($variant == "light", light(), dark());
$foreground: compare($variant == "light", dark(), light());
$accent: accent(8);

$link: $accent;
$link-visited: color(purple, 8);

$warning: color(yellow, 8);
$error: color(red, 8);
$success: color(blue, 8);

$destructive: $error;

$text: on($background);
$text-secondary: on($background, secondary);
$text-disabled: on($background, disabled);
$text-secondary-disabled: on($background, secondary-disabled);

$divider: on($background, divider);

// workaround for GTK3 @placeholder_text_color which doesn't allow translucent colors
// $placeholder_text_color: if($variant == 'light', mix(black, $base, 60%), mix(white, $base, 70%));

$blue_1: color(blue, 2);
$blue_2: color(blue, 5);
$blue_3: color(blue, 8);
$blue_4: color(blue, 11);
$blue_5: color(blue, 14);

$green_1: color(green, 2);
$green_2: color(green, 5);
$green_3: color(green, 8);
$green_4: color(green, 11);
$green_5: color(green, 14);

$yellow_1: color(yellow, 2);
$yellow_2: color(yellow, 5);
$yellow_3: color(yellow, 8);
$yellow_4: color(yellow, 11);
$yellow_5: color(yellow, 14);

$orange_1: color(orange, 2);
$orange_2: color(orange, 5);
$orange_3: color(orange, 8);
$orange_4: color(orange, 11);
$orange_5: color(orange, 14);

$red_1: color(red, 2);
$red_2: color(red, 5);
$red_3: color(red, 8);
$red_4: color(red, 11);
$red_5: color(red, 14);

$purple_1: color(purple, 2);
$purple_2: color(purple, 5);
$purple_3: color(purple, 8);
$purple_4: color(purple, 11);
$purple_5: color(purple, 14);

$brown_1: color(brown, 2);
$brown_2: color(brown, 5);
$brown_3: color(brown, 8);
$brown_4: color(brown, 11);
$brown_5: color(brown, 14);

$light_1: light();
$light_2: color(base, 1);
$light_3: color(base, 3);
$light_4: color(base, 5);
$light_5: color(base, 7);

$dark_1: color(base, 9);
$dark_2: color(base, 11);
$dark_3: color(base, 13);
$dark_4: color(base, 15);
$dark_5: dark();

@define-color blue_1 #{"" + $blue_1};
@define-color blue_2 #{"" + $blue_2};
@define-color blue_3 #{"" + $blue_3};
@define-color blue_4 #{"" + $blue_4};
@define-color blue_5 #{"" + $blue_5};

@define-color green_1 #{"" + $green_1};
@define-color green_2 #{"" + $green_2};
@define-color green_3 #{"" + $green_3};
@define-color green_4 #{"" + $green_4};
@define-color green_5 #{"" + $green_5};

@define-color yellow_1 #{"" + $yellow_1};
@define-color yellow_2 #{"" + $yellow_2};
@define-color yellow_3 #{"" + $yellow_3};
@define-color yellow_4 #{"" + $yellow_4};
@define-color yellow_5 #{"" + $yellow_5};

@define-color orange_1 #{"" + $orange_1};
@define-color orange_2 #{"" + $orange_2};
@define-color orange_3 #{"" + $orange_3};
@define-color orange_4 #{"" + $orange_4};
@define-color orange_5 #{"" + $orange_5};

@define-color red_1 #{"" + $red_1};
@define-color red_2 #{"" + $red_2};
@define-color red_3 #{"" + $red_3};
@define-color red_4 #{"" + $red_4};
@define-color red_5 #{"" + $red_5};

@define-color purple_1 #{"" + $purple_1};
@define-color purple_2 #{"" + $purple_2};
@define-color purple_3 #{"" + $purple_3};
@define-color purple_4 #{"" + $purple_4};
@define-color purple_5 #{"" + $purple_5};

@define-color brown_1 #{"" + $brown_1};
@define-color brown_2 #{"" + $brown_2};
@define-color brown_3 #{"" + $brown_3};
@define-color brown_4 #{"" + $brown_4};
@define-color brown_5 #{"" + $brown_5};

@define-color light_1 #{"" + $light_1};
@define-color light_2 #{"" + $light_2};
@define-color light_3 #{"" + $light_3};
@define-color light_4 #{"" + $light_4};
@define-color light_5 #{"" + $light_5};

@define-color dark_1 #{"" + $dark_1};
@define-color dark_2 #{"" + $dark_2};
@define-color dark_3 #{"" + $dark_3};
@define-color dark_4 #{"" + $dark_4};
@define-color dark_5 #{"" + $dark_5};

@define-color accent_color #{accent(8)};

// destructive-action buttons
@define-color destructive_bg_color #{"" + $destructive};
@define-color destructive_fg_color #{on($destructive)};
@define-color destructive_color #{"" + $destructive};

// Levelbars, entries, labels and infobars. These don't need text colors
@define-color success_bg_color #{"" + $success};
@define-color success_fg_color #{on($success)};
@define-color success_color #{"" + $success};

@define-color warning_bg_color #{"" + $warning};
@define-color warning_fg_color #{on($warning)};
@define-color warning_color #{"" + $warning};

@define-color error_bg_color #{"" + $error};
@define-color error_fg_color #{on($error)};
@define-color error_color #{"" + $error};

// Window
@define-color window_bg_color #{"" + $background};
@define-color window_fg_color #{"" + $text};

// Views - e.g. text view or tree view
@define-color view_bg_color #{"" + $background};
@define-color view_fg_color #{"" + $text};

// Header bar, search bar, tab bar
@define-color headerbar_bg_color #{"" + $background};
@define-color headerbar_fg_color #{"" + $text};
@define-color headerbar_border_color "#ff0000";
@define-color headerbar_backdrop_color "#ff0000";
@define-color headerbar_shade_color "#ff0000";

@define-color sidebar_bg_color #{"" + $background};
@define-color sidebar_fg_color #{"" + $text};
@define-color sidebar_border_color "#ff0000";
@define-color sidebar_backdrop_color "#ffff00";
@define-color sidebar_shade_color "#ff00ff";

// Cards, boxed lists
@define-color card_bg_color #{"" + $background};
@define-color card_fg_color #{"" + $text};
@define-color card_shade_color "#ff0000";

// Dialogs
@define-color dialog_bg_color #{"" + $background};
@define-color dialog_fg_color #{"" + $text};

// Popovers
@define-color popover_bg_color #{"" + $background};
@define-color popover_fg_color #{"" + $text};

// Miscellaneous
@define-color shade_color "#ff0000";
@define-color scrollbar_outline_color "#ff0000";

:root {
	--blue-1: #{"" + $blue_1};
	--blue-2: #{"" + $blue_2};
	--blue-3: #{"" + $blue_3};
	--blue-4: #{"" + $blue_4};
	--blue-5: #{"" + $blue_5};

	--green-1: #{"" + $green_1};
	--green-2: #{"" + $green_2};
	--green-3: #{"" + $green_3};
	--green-4: #{"" + $green_4};
	--green-5: #{"" + $green_5};

	--yellow-1: #{"" + $yellow_1};
	--yellow-2: #{"" + $yellow_2};
	--yellow-3: #{"" + $yellow_3};
	--yellow-4: #{"" + $yellow_4};
	--yellow-5: #{"" + $yellow_5};

	--orange-1: #{"" + $orange_1};
	--orange-2: #{"" + $orange_2};
	--orange-3: #{"" + $orange_3};
	--orange-4: #{"" + $orange_4};
	--orange-5: #{"" + $orange_5};

	--red-1: #{"" + $red_1};
	--red-2: #{"" + $red_2};
	--red-3: #{"" + $red_3};
	--red-4: #{"" + $red_4};
	--red-5: #{"" + $red_5};

	--purple-1: #{"" + $purple_1};
	--purple-2: #{"" + $purple_2};
	--purple-3: #{"" + $purple_3};
	--purple-4: #{"" + $purple_4};
	--purple-5: #{"" + $purple_5};

	--brown-1: #{"" + $brown_1};
	--brown-2: #{"" + $brown_2};
	--brown-3: #{"" + $brown_3};
	--brown-4: #{"" + $brown_4};
	--brown-5: #{"" + $brown_5};

	--light-1: #{"" + $light_1};
	--light-2: #{"" + $light_2};
	--light-3: #{"" + $light_3};
	--light-4: #{"" + $light_4};
	--light-5: #{"" + $light_5};

	--dark-1: #{"" + $dark_1};
	--dark-2: #{"" + $dark_2};
	--dark-3: #{"" + $dark_3};
	--dark-4: #{"" + $dark_4};
	--dark-5: #{"" + $dark_5};

	--accent-blue: #{color(blue, 8)};
	--accent-teal: #{color(teal, 8)};
	--accent-green: #{color(green, 8)};
	--accent-yellow: #{color(yellow, 8)};
	--accent-orange: #{color(orange, 8)};
	--accent-red: #{color(red, 8)};
	--accent-pink: #{color(magenta, 8)};
	--accent-purple: #{color(purple, 8)};
	--accent-slate: #{color(base, 8)};

	--accent-color: #{accent(8)};
	--accent-bg-color: #{compare($variant == "light", accent(9), accent(7))};
	--accent-fg-color: #{compare($variant == "light", accent(0), accent(16))};
}
