@define-color blue_1 #bcc8ee;
@define-color blue_2 #899bcc;
@define-color blue_3 #5c74b1;
@define-color blue_4 #415282;
@define-color blue_5 #263251;
@define-color green_1 #afd2ae;
@define-color green_2 #78a77a;
@define-color green_3 #47824f;
@define-color green_4 #325d37;
@define-color green_5 #1d3920;
@define-color yellow_1 #dec78e;
@define-color yellow_2 #b49950;
@define-color yellow_3 #8f7218;
@define-color yellow_4 #67510d;
@define-color yellow_5 #403105;
@define-color orange_1 #f2bf95;
@define-color orange_2 #cb8f5a;
@define-color orange_3 #a66729;
@define-color orange_4 #77491b;
@define-color orange_5 #4b2c0d;
@define-color red_1 #f9baad;
@define-color red_2 #d48879;
@define-color red_3 #b15e4e;
@define-color red_4 #7f4337;
@define-color red_5 #51271f;
@define-color purple_1 #e4bde0;
@define-color purple_2 #bc8cba;
@define-color purple_3 #9a629a;
@define-color purple_4 #6f456f;
@define-color purple_5 #442a45;
@define-color brown_1 #e9c38f;
@define-color brown_2 #c19452;
@define-color brown_3 #9c6c1b;
@define-color brown_4 #704d11;
@define-color brown_5 #472e05;
@define-color light_1 #ffffff;
@define-color light_2 #dadada;
@define-color light_3 #b9b9b9;
@define-color light_4 #9c9c9c;
@define-color light_5 #818181;
@define-color dark_1 #6a6a6a;
@define-color dark_2 #545454;
@define-color dark_3 #3e3e3e;
@define-color dark_4 #272727;
@define-color dark_5 #000000;
@define-color accent_color #5c74b1;
@define-color destructive_bg_color #b15e4e;
@define-color destructive_fg_color #ff0000;
@define-color destructive_color #b15e4e;
@define-color success_bg_color #5c74b1;
@define-color success_fg_color #ff0000;
@define-color success_color #5c74b1;
@define-color warning_bg_color #8f7218;
@define-color warning_fg_color #ff0000;
@define-color warning_color #8f7218;
@define-color error_bg_color #b15e4e;
@define-color error_fg_color #ff0000;
@define-color error_color #b15e4e;
@define-color window_bg_color #000000;
@define-color window_fg_color #ff0000;
@define-color view_bg_color #000000;
@define-color view_fg_color #ff0000;
@define-color headerbar_bg_color #000000;
@define-color headerbar_fg_color #ff0000;
@define-color headerbar_border_color "#ff0000";
@define-color headerbar_backdrop_color "#ff0000";
@define-color headerbar_shade_color "#ff0000";
@define-color sidebar_bg_color #000000;
@define-color sidebar_fg_color #ff0000;
@define-color sidebar_border_color "#ff0000";
@define-color sidebar_backdrop_color "#ffff00";
@define-color sidebar_shade_color "#ff00ff";
@define-color card_bg_color #000000;
@define-color card_fg_color #ff0000;
@define-color card_shade_color "#ff0000";
@define-color dialog_bg_color #000000;
@define-color dialog_fg_color #ff0000;
@define-color popover_bg_color #000000;
@define-color popover_fg_color #ff0000;
@define-color shade_color "#ff0000";
@define-color scrollbar_outline_color "#ff0000";
:root {
  --blue-1: #bcc8ee;
  --blue-2: #899bcc;
  --blue-3: #5c74b1;
  --blue-4: #415282;
  --blue-5: #263251;
  --green-1: #afd2ae;
  --green-2: #78a77a;
  --green-3: #47824f;
  --green-4: #325d37;
  --green-5: #1d3920;
  --yellow-1: #dec78e;
  --yellow-2: #b49950;
  --yellow-3: #8f7218;
  --yellow-4: #67510d;
  --yellow-5: #403105;
  --orange-1: #f2bf95;
  --orange-2: #cb8f5a;
  --orange-3: #a66729;
  --orange-4: #77491b;
  --orange-5: #4b2c0d;
  --red-1: #f9baad;
  --red-2: #d48879;
  --red-3: #b15e4e;
  --red-4: #7f4337;
  --red-5: #51271f;
  --purple-1: #e4bde0;
  --purple-2: #bc8cba;
  --purple-3: #9a629a;
  --purple-4: #6f456f;
  --purple-5: #442a45;
  --brown-1: #e9c38f;
  --brown-2: #c19452;
  --brown-3: #9c6c1b;
  --brown-4: #704d11;
  --brown-5: #472e05;
  --light-1: #ffffff;
  --light-2: #dadada;
  --light-3: #b9b9b9;
  --light-4: #9c9c9c;
  --light-5: #818181;
  --dark-1: #6a6a6a;
  --dark-2: #545454;
  --dark-3: #3e3e3e;
  --dark-4: #272727;
  --dark-5: #000000;
  --accent-blue: #5c74b1;
  --accent-teal: #188472;
  --accent-green: #47824f;
  --accent-yellow: #8f7218;
  --accent-orange: #a66729;
  --accent-red: #b15e4e;
  --accent-pink: #ac5d78;
  --accent-purple: #9a629a;
  --accent-slate: #757575;
  --accent-color: #5c74b1;
  --accent-bg-color: #6b80ba;
  --accent-fg-color: #16181f;
}
