$palette: (
	accent: blue,
	dark: #000000,
	light: #ffffff,
	scales: (
		base: (#ececec, #dadada, #c9c9c9, #b9b9b9, #aaa, #9c9c9c, #8e8e8e, #818181, #757575, #6a6a6a, #5f5f5f, #545454, #494949, #3e3e3e, #333, #272727, #181818),
		red: (#fee7e2, #ffcfc5, #f9baad, #eda89a, #e09889, #d48879, #c77a6a, #bc6c5c, #b15e4e, #9f5546, #8f4c3e, #7f4337, #703a2e, #603127, #51271f, #3c1f19, #221512),
		orange: (#fde8da, #fad2b4, #f2bf95, #e5ae7f, #d89e6c, #cb8f5a, #be814a, #b37338, #a66729, #975c23, #88521e, #77491b, #693f16, #5a3612, #4b2c0d, #38220e, #20160e),
		brown: (#fae9d7, #f3d5af, #e9c38f, #dcb278, #cfa264, #c19452, #b48640, #a8792f, #9c6c1b, #8e6116, #7f5714, #704d11, #62430e, #54390a, #472e05, #34240b, #1e170d),
		yellow: (#f5ebd8, #ebd8ae, #dec78e, #d1b676, #c2a763, #b49950, #a88b3d, #9c7e2b, #8f7218, #836612, #735c12, #67510d, #5b460a, #4d3c07, #403105, #2f260a, #1c180d),
		lime: (#ededdb, #d8ddb7, #c5ce98, #b5be83, #a4b070, #96a25e, #87954d, #7b883d, #6e7c2d, #637026, #596423, #50581e, #454d19, #3a4214, #30360f, #25290f, #17190f),
		green: (#e7eee2, #c9e0c6, #afd2ae, #9bc39c, #88b58a, #78a77a, #689a6b, #578e5d, #47824f, #417547, #38693f, #325d37, #2c5130, #214628, #1d3920, #192b1a, #131a13),
		teal: (#e4eee9, #c0e1d7, #a2d3c5, #8cc4b6, #77b6a7, #64a898, #4c9c8b, #35907e, #188472, #157766, #106b5b, #0d5f50, #0a5345, #07473b, #073a31, #0d2c26, #101a17),
		cyan: (#e3eef0, #c1dfe5, #a2d1da, #8bc2cc, #74b4bf, #61a6b2, #4c99a6, #328d9b, #02828f, #017582, #016974, #025d67, #01515a, #02454e, #003940, #0d2b30, #101a1c),
		azure: (#e5edf5, #c6ddf0, #accde7, #96bedc, #83afcf, #71a1c4, #5e94ba, #4a88b0, #337ca7, #2d7097, #296487, #215978, #204d69, #18425b, #14364b, #142937, #12191e),
		blue: (#ebebf6, #d2d9f3, #bcc8ee, #aab8e2, #99a9d7, #899bcc, #7a8dc4, #6b80ba, #5c74b1, #5368a1, #4a5d91, #415282, #384871, #303d61, #263251, #20263a, #16181f),
		indigo: (#f1e9f5, #e0d5f2, #d0c2ed, #c0b2e0, #b2a2d5, #a493ca, #9685c0, #8b77b7, #7f6aae, #72609d, #65568d, #5a4c7d, #4e426e, #43385f, #372e4e, #2a233a, #1a171f),
		purple: (#f7e8f1, #eed1ea, #e4bde0, #d6acd2, #c89cc6, #bc8cba, #af7eaf, #a470a4, #9a629a, #8b588b, #7c4f7d, #6f456f, #613c61, #533353, #442a45, #332132, #1d161d),
		magenta: (#fce7ea, #facfda, #f4b9c9, #e6a8ba, #da97ab, #cd889d, #c27990, #b66b83, #ac5d78, #9b546b, #8b4b60, #7b4256, #6d394a, #5e303f, #4e2734, #391f28, #201519),
	)
);
